<section class="section-2">

    <!--
            Essa section está desativada temporariamente
            .section-2 { display: none; }

            E a renderização desabilitada em "home.html.erb"
    -->

    <div class="como-comprar-2">
        <h2 id="como-comprar">Como comprar Bitcoins</h2><i class="fa fa-question fa-4x" style="color: #E55424;"></i>
    </div>
</section>
