<section class="section-3">

    <!-- Remover "if false" em "views/static/home.html.erb" para rendezir essa section -->
    <!-- Álém disso, descomentar o css respectivo em /assets/stylesheets/desktop.css.scss -->

    <div class="como-comprar-2">
        <h2 id="como-comprar">Como comprar Bitcoins</h2><i class="fa fa-question fa-4x" style="color: #E55424;"></i>
 <a href="http://www.foxbit.com.br" title="Sobre a Foxbit" alt="Sobre a Foxbit"><%= image_tag "logo.svg", height: 100, width: 300, title: "Sobre a Foxbit", alt: "Sobre a Foxbit" %></a>

        <div class="inner-content">
            <div class="left">
                <h2 class="orange-fox">Sobre a Foxbit</h2>
                <p>A <a href="http://www.foxbit.com.br" rel="follow">FoxBit</a> é uma empresa braslieira legalmente registrada sob o CNPJ 21.246.584/0001-50 com sede na Avenida Engenheiro Luis Carlos Berrini, local sede dos principais empreendimentos comerciais da cidade de São Paulo/SP.</p>

                <p>Nascemos da necessidade de uma empresa transparente no mercado nacional, nos orgulhamos em dizer que somos a única empresa brasileira que deixa público seu endereço de carteira quente e fria, provando a existência dos recursos que são negociados na plataforma.</p>

    </div>
</section>
