<section class="section-2">

    <!-- Remover "if false" em "views/static/home.html.erb" para rendezir essa section -->
    <!-- Álém disso, descomentar o css respectivo em /assets/stylesheets/desktop.css.scss -->

    <div class="como-comprar-2">
        <h2 id="como-comprar">Como comprar Bitcoins</h2><i class="fa fa-question fa-4x" style="color: #E55424;"></i>
    </div>
</section>	
