<section class="section-2">
    <div class="como-comprar-2">
        <h2 id="como-comprar">Como comprar Bitcoins</h2><i class="fa fa-question fa-4x" style="color: #E55424;"></i>
    </div>
</section>
