<section class="section-2">
    <div class="teste">
    <div class="sobre-3" id="sobre2">


        <a href="http://www.foxbit.com.br" title="Sobre a Foxbit" alt="Sobre a Foxbit"><%= image_tag "logo.svg", height: 100, width: 300, title: "Sobre a Foxbit", alt: "Sobre a Foxbit" %></a>

        <div class="inner-content">
            <div class="left">
                <h2 class="orange-fox">Sobre a Foxbit</h2>
                <p>A <a href="http://www.foxbit.com.br" rel="follow">FoxBit</a> é uma empresa braslieira legalmente registrada sob o CNPJ 21.246.584/0001-50 com sede na Avenida Engenheiro Luis Carlos Berrini, local sede dos principais empreendimentos comerciais da cidade de São Paulo/SP.</p>

                <p>Nascemos da necessidade de uma empresa transparente no mercado nacional, nos orgulhamos em dizer que somos a única empresa brasileira que deixa público seu endereço de carteira quente e fria, provando a existência dos recursos que são negociados na plataforma.</p>

                <p>Com parcerias estratégicas, como a BlinkTrade Inc., a FoxBit possui um grande know-how em mercado financeiro, nacional e internacional, trazemos aplicações, soluções e segurança desse mercado tão consolidado para o mercado de criptomoedas.</p>
            </div>

            <div class="right">
                <h2 class="orange-fox">Contato</h2>

                <div class="single-contact">

                    

                    <br class="break-contact"/>

                    
                </div>

                

                <!-- <br class="break-contact"/><br class="break-contact"/> -->

                
            </div>
        </div>
        <br style="clear:both" />
    </div>
    </div>
</section>	
