<nav>
    <ul>
        <li class="active"><span>Página Inicial</span></li>
        <!-- <li><a href="#como-comprar" rel="follow">Como comprar Bitcoin?</a></li> -->
        <li><a href="#sobre" alt="Sobre a Foxbit" title="Sobre a Foxbit">Sobre</a></li>
    </ul>
</nav>
