<nav>
    <ul>
        <li class="active"><span>Página Inicial</span></li>
        <li><a href="https://foxbit.com.br/tutoriais" rel="follow" target="_blank">Como comprar Bitcoin?</a></li>
        <a href="#sobre" alt="Sobre a Foxbit" title="Sobre a Foxbit"><li><span>Sobre</span></li></a>
    </ul>
</nav>
