<section class="section-3">
    <div class="sobre-3" id="sobre">

        <a href="http://www.foxbit.com.br" title="Sobre a Foxbit" alt="Sobre a Foxbit"><%= image_tag "logo.svg", height: 100, width: 300, title: "Sobre a Foxbit", alt: "Sobre a Foxbit" %></a>

        <div class="inner-content">
            <div class="left">
                <h2 class="orange-fox">Sobre a Foxbit</h2>
                <p>A <a href="http://www.foxbit.com.br" rel="follow">FoxBit</a> é uma empresa braslieira legalmente registrada sob o CNPJ 21.246.584/0001-50 com sede na Avenida Engenheiro Luis Carlos Berrini, local sede dos principais empreendimentos comerciais da cidade de São Paulo/SP.</p>

                <p>Nascemos da necessidade de uma empresa transparente no mercado nacional, nos orgulhamos em dizer que somos a única empresa brasileira que deixa público seu endereço de carteira quente e fria, provando a existência dos recursos que são negociados na plataforma.</p>

                <p>Com parcerias estratégicas, como a BlinkTrade Inc., a FoxBit possui um grande know-how em mercado financeiro, nacional e internacional, trazemos aplicações, soluções e segurança desse mercado tão consolidado para o mercado de criptomoedas.</p>
            </div>

            <div class="right">
                <h2 class="orange-fox">Contato</h2>

                <!-- E-mail -->
                <i class="fa fa-paper-plane fa-2x"></i>
                <p class="same-line">
                    <b>E-mail:</b><br/>
                    <span><a href="mailto:atendimento@foxbit.com.br" rel="nofollow" title="Entre em contato!" alt="Entre em contato!">atendimento@foxbit.com.br</a></span>
                </p>

                <br/>

                <!-- Telefone -->
                <i class="fa fa-phone fa-2x" style="height: 32px; width: 32px;"></i>
                <p class="same-line">
                    <b>Telefone:</b><br/>
                    +55 11 3090 0338
                </p>

                <br/>

                <!-- Endereço -->
                <b>Endereço:</b><br/>
                FoxBit Serviços Digitais LTDA<br/>
                Av. Engº Luís Carlos Berrini, 1140 - Sala 707,<br/>
                Itaim Bibi - CEP 04571-000<br/>
                São Paulo / SP<br/>
                Brasil.

                <br/><br/>

                <!-- Redes sociais -->
                <p style="text-align: center; margin: 0 auto;">
                    <a href="https://www.facebook.com/foxbitcoin" rel="nofollow" alt="Conheça nossa página no Facebook!" target="_blank" title="Conheça nossa página no Facebook!" class="social" id="facebook">
                        <i class="fa fa-facebook-square fa-2x" style="color: white; vertical-align: middle"></i>&nbsp;&nbsp;Facebook
                    </a>
                    <a href="https://twitter.com/foxbitcoin" rel="nofollow" target="_blank" alt="Visite nosso perfil no Twitter!" title="Visite nosso perfil no Twitter!" class="social" id="twitter">
                        <i class="fa fa-twitter-square fa-2x" style="color: white; vertical-align: middle"></i>&nbsp;&nbsp;Twitter
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

