<section class="section-3">
    <div class="teste">
    <div class="sobre-3" id="sobre">


        <a href="https://www.foxbit.com.br" title="Sobre a Foxbit" alt="Sobre a Foxbit"><%= image_tag "logo.svg", height: 100, width: 300, title: "Sobre a Foxbit", alt: "Sobre a Foxbit" %></a>

        <div class="inner-content">
            <div class="left">
                <h2 class="orange-fox">Sobre a Foxbit</h2>
                <p>A <a href="https://www.foxbit.com.br" rel="follow">FoxBit</a> é uma empresa braslieira legalmente registrada sob o CNPJ 21.246.584/0001-50 com sede na Avenida Engenheiro Luis Carlos Berrini, local sede dos principais empreendimentos comerciais da cidade de São Paulo/SP.</p>

                <p>Nascemos da necessidade de uma empresa transparente no mercado nacional, nos orgulhamos em dizer que somos a única empresa brasileira que deixa público seu endereço de carteira quente e fria, provando a existência dos recursos que são negociados na plataforma.</p>

                <p>Com parcerias estratégicas, como a BlinkTrade Inc., a FoxBit possui um grande know-how em mercado financeiro, nacional e internacional, trazemos aplicações, soluções e segurança desse mercado tão consolidado para o mercado de criptomoedas.</p>
            </div>

            <div class="right">
                <h2 class="orange-fox">Contato</h2>

                <div class="single-contact">

                    <!-- E-mail -->
                    <a href="https://faq.foxbit.com.br">
                        <i class="fa fa-paper-plane fa-2x" style="color: black;"></i>
                        <p class="same-line">
                            <b style="color: black;">Atendimento:</b><br/>
                            <span>foxbit.com.br/suporte</span>
                        </p>
                    </a>

                    <br class="break-contact"/>

                    <!-- Telefone 
                    <a href="tel:+551130900338" rel="nofollow" title="Ligue para nós" alt="Ligue para nós">
                        <i class="fa fa-phone fa-2x" style="height: 32px; width: 32px; color: black;"></i>
                        <p class="same-line">
                            <b style="color: black;">Telefone:</b><br/>
                            +55 11 3090 0338
                        </p>
                    </a>-->
                </div>

                <!-- Endereço -->
                <p class="sobre">
                    <b>Endereço:</b><br/>
                    FoxBit Serviços Digitais LTDA. <br class="break-contact"/>
                    Av. Engº Luís Carlos Berrini, 1140 - Sala 707,<br class="break-contact"/>
                    Itaim Bibi - CEP 04571-000.<br class="break-contact"/>
                    São Paulo / SP, <br class="break-contact"/>
                    Brasil.
                </p>

                <!-- <br class="break-contact"/><br class="break-contact"/> -->

                <!-- Redes sociais -->
                <div class="social-networks">
                    <a href="https://www.facebook.com/foxbitcoin" rel="nofollow" alt="Conheça nossa página no Facebook!" target="_blank" title="Conheça nossa página no Facebook!" class="social" id="facebook">
                        <i class="fa fa-facebook-square fa-2x" style="color: white; vertical-align: middle"></i><p>/foxbitcoin</p>
                    </a>
                    <a href="https://twitter.com/foxbitcoin" rel="nofollow" target="_blank" alt="Visite nosso perfil no Twitter!" title="Visite nosso perfil no Twitter!" class="social" id="twitter">
                        <i class="fa fa-twitter-square fa-2x" style="color: white; vertical-align: middle"></i><p>@foxbitcoin</p>
                    </a>
                </div>
            </div>
        </div>
        <br style="clear:both" />
    </div>
    </div>
</section>

