<section class="section-3">
    <div class="teste">
    <div class="sobre-3" id="sobre">


        <a href="https://www.foxbit.com.br" title="Sobre a Foxbit" alt="Sobre a Foxbit"><%= image_tag "https://i.imgur.com/c20TEcL.png", height: 100, width: 300, title: "Sobre a Foxbit", alt: "Sobre a Foxbit" %></a>

        <div class="inner-content">
            <div class="left">
                <h2 class="orange-fox">Sobre a Foxbit</h2>
                <p>A <a href="https://www.foxbit.com.br" target="_blank" rel="follow">Foxbit</a> é uma empresa criada para inspirar pessoas a conquistar liberdade financeira. Estamos aqui pelas pessoas e buscamos revolucionar suas vidas inspirando a conquista da liberdade financeira.</p>
                <p>Liberdade financeira é poder fazer o que bem entender com seu dinheiro, sem depender de bancos e instituições financeiras. Tudo isso através da criptoeconomia por trás das moedas digitais, como o Bitcoin.</p>
                <p>Nossa equipe é composta por pessoas que amam a liberdade financeira, o Bitcoin e a nova economia. A história da Foxbit mostra essa relação, você pode vê-la na história dos nossos fundadores, os empreendedores e entusiastas por criptomoedas <a href="https://foxbit.com.br/blog/nossas-historias-guto-schiavon/" target="_blank">Guto Schiavon.</a> e <a href="https://foxbit.com.br/blog/nossas-historias-joao-canhada/" target="_blank">João Canhada</a>.</p>
            </div>

            <div class="right">
                <h2 class="orange-fox">Contato</h2>

                <div class="single-contact">

                    <!-- E-mail -->
                    <a href="https://faq.foxbit.com.br" target="_blank">
                        <i class="fa fa-paper-plane fa-2x" style="color: black;"></i>
                        <p class="same-line">
                            <b style="color: black;">Atendimento:</b><br/>
                            <span>foxbit.com.br/suporte</span>
                        </p>
                    </a>

                    <br class="break-contact"/>

                    <!-- Telefone 
                    <a href="tel:+551130900338" rel="nofollow" title="Ligue para nós" alt="Ligue para nós">
                        <i class="fa fa-phone fa-2x" style="height: 32px; width: 32px; color: black;"></i>
                        <p class="same-line">
                            <b style="color: black;">Telefone:</b><br/>
                            +55 11 3090 0338
                        </p>
                    </a>-->
                </div>

                <!-- Endereço -->
                <p class="sobre">
                    <b>Endereço:</b><br/>
                    FoxBit Serviços Digitais S.A. <br class="break-contact"/>
                    Av. Engº Luís Carlos Berrini, 105 - Sala 605,<br class="break-contact"/>
                    Cidade Monções- CEP 04571-010.<br class="break-contact"/>
                    São Paulo / SP, <br class="break-contact"/>
                    Brasil.
                </p>

                <!-- <br class="break-contact"/><br class="break-contact"/> -->

                <!-- Redes sociais -->
                <div class="social-networks">
                    <a href="https://www.facebook.com/foxbitcoin" rel="nofollow" alt="Conheça nossa página no Facebook!" target="_blank" title="Conheça nossa página no Facebook!" class="social" id="facebook">
                        <i class="fa fa-facebook-square fa-2x" style="color: white; vertical-align: middle"></i><p>/foxbitcoin</p>
                    </a>
                    <a href="https://twitter.com/foxbit" rel="nofollow" target="_blank" alt="Visite nosso perfil no Twitter!" title="Visite nosso perfil no Twitter!" class="social" id="twitter">
                        <i class="fa fa-twitter-square fa-2x" style="color: white; vertical-align: middle"></i><p>@foxbit</p>
                    </a>
                </div>
            </div>
        </div>
        <br style="clear:both" />
    </div>
    </div>
</section>

