<main>
    <h1>Quanto custa um Bitcoin?</h1>
    <div class="price-outer">
        <input type="number" id="btc" name="quantity" class="input" min="1.0" value="1.0" step="0.1" /><span class="orange-fox">BTC</span>
        <span>=</span>
        R$<input type="text" id="price" name="price" class="input" value="0,00" disabled />
    </div>
    <a href="http://www.foxbit.com.br" rel="follow" class="buy">Comprar na FoxBit!</a>
    <p id="message" data-count="0"></p>
</main>
