<!-- Header -->
<%= render 'header' %>

<main>
    <!-- Cotação do site -->
    <%= render 'cotacao' %>

    <!-- Como comprar Bitcoin? -->
    <% if false %>
        <!-- Remover if false para rendezir essa section -->
        <!-- Álém disso, descomentar o css respectivo em /assets/stylesheets/desktop.css.scss -->
        <%= render 'comprar' %>
    <% end %>

    <!-- Sobre -->
    <%= render 'sobre' %>
</main>
