<!-- Header -->
<%= render 'header' %>

<main>
    <!-- Cotação do site -->
    <%= render 'cotacao' %>

    <!-- Como comprar Bitcoin? -->
    <%= render 'comprar' %>

    <!-- Sobre -->
    <%= render 'sobre' %>
</main>
