@media (max-width: 767px) {

    main {
        width: 100%;
        height: 100%;
        min-height: 100vh;
    }

    .section-1 {
        background: image-url("background1-tablet.jpg") no-repeat scroll;
        background-size: auto;
        float: none;
    }

    .section-3 {
        z-index: 0;
        max-height: 150vh;
        height: auto;
        min-height: 100vh;
        float: none;

        overflow: hidden;
    }

    .sobre-3 {
        margin: 40px auto;
        height: auto;
        min-height: 100vh;
        height: auto;
        max-height: 210vh;
        display: block;
        position: relative;
        overflow: auto;
        clear: both;
        float: none;

        .inner-content {
            font-size: 18px;

            .left {
                display: block;
                width: 100%;
            }

            .right {
                display: block;
                width: 100%
            }
        }

    }

    .cotacao-1 {

        width: 700px;
        height: 350px;

        #message {
            font-size: 16px;
            font-style: italic;
            font-weight: 300;
            margin: 20px 0px 0px 0px;
        }

        .buy {
            padding: 30px;
        }

        .price-outer {
            width: 600px;
            height: 80px;

            .input {
                padding: 20px;
            }
        }
    }

    .break-contact {
        //display: none;
    }

    .single-contact {
        a {
            display: block;
            position: relative;
            height: 45px;
            width: 100%;
        }
    }

    .same-line {
        text-align: left;
        // margin-right: 40px;
        b {
            text-align: left;
        }
    }

    .social-networks {
        margin: 0px auto;
        width: 100%;
        text-align: center;
        height: 100px;
        font-size: 18px;

        a {
            display: block;
        }

        #facebook {
            float: left;
            display: block;
            clear: both;
        }
        #twitter {
            float: left;
            clear: both;
            display: block;
        }

    }

    .social {
        width: 100%;
        height: 80px;
        line-height: 80px;
        // float: left;
    }

    nav {
        display: none;
        ul {
            li {
                padding: 3% 3%;
                border-bottom: 1px solid #E55424;

                a, span {
                    font-size: 1.2em;

                    &:hover {
                        color: #E55424;
                    }
                }

            }
        }
    }

    .active {
        display: none;
    }


}
